.portfolio__list {
  @include phones {
    text-align: center;
  }
  margin-left: -20px;
  font-size:  0;

}

.portfolio__item {
  @include phones {
    float: none;
    text-align: left;
  }
  @include border-radius(15px);
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .2));
  display: inline-block;
  margin-left: 20px;
  width: rem(220px);
  float: left;
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 14px;
}

.portfolio__link {
  display: block;

  &:hover {
    .portfolio__desc-title {
      color: $red;
    }
  }
}

.portfolio__pic {
  height: 175px;
  background-size: cover;
  background-position: center; 
}

.portfolio__desc {
  padding: 20px;
  background: #fff;
}

.portfolio__desc-title {
  @include fira(regular);
  font-size: 21px;
  line-height: 24px;
  color: $blue;
}

.portfolio__desc-text {
  color: #747474;
  @include fira(light);
  font-weight: bold;
  margin-bottom: 20px;
}

.portfolio__desc-type {
  color: #aeaeae;
  font-weight: bold;

  .fa {
    font-size: 20px;
    margin-right: 5px;
  }
}
